.not_found_page{
    text-align: center;
    width: 600px;
    height: 600px;
    margin: 100px auto;
    border-radius: 50%;
    background-color: #ff7200;
}

.not_found_page h1{
    font-size: 150px;
    margin-bottom: 10px;
    color: #fff;
    line-height: 300px;
}

.not_found_page h2{
    font-size: 25px;
}

.not_found_page h1 span{
    color: black;
}